<div class="container-fluid">
  <div class='row project_header vCenter bottomBordered'>
    <div class='col-xs-12 center'>
        <h1>DuJour</h1>
        <h2>recipe management tool</h2>
        <div class='row project_description'>
          <div class='col-xs-3'>
            <!-- PREVIOUS PROJECT -->
            <a href="/projects/menard_team.html">
              <i class="material-icons project_nav flip">navigate_next</i>
            </a>
          </div>
          <div class='col-xs-6'>
            <p>Dujour is a recipe management tool in the vein of AllRecipes.  Dujour
            uses Devise and/or OmniAuth for authentication and Paperclip for photo upload, 
            allowing users to create and save recipes, 
            which will then be shared with the community.  
            </p>
            <span class='subtext'>Rails, ActiveRecord, Devise & OmniAuth, Paperclip, BootStrap</span>
          </div>
          <div class='col-xs-3'>
            <!-- NEXT PROJECT -->
            <a href='/projects/rumblr.html'>
              <i class="material-icons project_nav">navigate_next</i
            </a>
          </div>
        </div>
    </div>
  </div>
  
  <div class='row vCenter bottomBordered long_screenshot'>
    <div class='col-xs-1'></div>
    <div class='col-xs-10'>
        <%= image_tag("portfolio/dujour.png", class:"img-responsive center_image")%>
    </div>
    <div class='col-xs-1'></div>
  </div>
  
</div>