<div class="container-fluid">
  <div class='row tall vCenter bottomBordered'>
    <div class='col-xs-12 center'>
        <h1>Rumblr</h1>
        <h2>Clone of the popular micro-blogging site Tumblr</h2>
    </div>
  </div>
</div>