<div class="container-fluid">
  <div class='row project_header vCenter bottomBordered'>
    <div class='col-xs-12 center'>
        <h1>Rumblr</h1>
        <h2>Clone of the popular micro-blogging site Tumblr</h2>
        <div class='row project_description'>
          <div class='col-md-3'></div>
          <div class='col-md-6'>
            <p>This is an ongoing project to build a Tumblr clone in Rails simply as an exercise.  While not 100% completed, many
            of the core features are implemented.  Users can create an account, create
            posts (images, texts, and animated GIFs), reblog posts, and follow other users.  
            </p>
          </div>
          <div class='col-md-3'></div>
        </div>
    </div>
  </div>
  
  <div class='row tall vCenter bottomBordered'>
    <div class='col-xs-12 grey'>
      <%= image_tag("portfolio/rumblr_capture.png", class:"img-responsive center_image")%>
    </div>
  </div>
  
</div>